.all
{
    display: flex;
    flex-direction: row;
    background-color: rgb(22, 22, 22);
    box-shadow: 0 0 .3vw rgb(22, 22, 22);
    color: #FFFFFF;
    width: 12vw;
    height: 2vh;
    transform: translate(85vw, 53vw);
    border-radius: .2vw;
    padding: .3vw;
}


#logo 
{
 position: absolute;
 width: 6.5vw;
 transform: translate(90vw, 2vw);
 opacity: 0.7;

}

#with 
{
    background-color: rgb(58, 55, 55);
    width: 1vw;
    max-width: 12vw;
    height: 1.2vw;
    border-radius: .3vw;
    transition: all 1s;
}
